{% extends 'base.html.twig' %}

{% block title %}VatRate index{% endblock %}

{% block body %}
    <h1>VatRate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RateName</th>
                <th>RateValue</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vat_rate in vat_rates %}
            <tr>
                <td>{{ vat_rate.id }}</td>
                <td>{{ vat_rate.rateName }}</td>
                <td>{{ vat_rate.rateValue }}</td>
                <td>{{ vat_rate.createdAt ? vat_rate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vat_rate.updatedAt ? vat_rate.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_vat_rate_show', {'id': vat_rate.id}) }}">show</a>
                    <a href="{{ path('app_vat_rate_edit', {'id': vat_rate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vat_rate_new') }}">Create new</a>
{% endblock %}
