{% extends 'base.html.twig' %}

{% block title %}{{ "Stawki VAT"|trans }}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">
           <a href="{{ path('app_vat_rate_index') }}">{{ "Stawki VAT"|trans }}</a>
        </span>
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="mb-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{{ "Nazwa stawki VAT"|trans }}</th>
                                <th>{{ "Wartość stawki VAT"|trans }}</th>
                                <th>{{ "Akcje"|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vat_rate in pagination %}
                                <tr>
                                    <td>{{ vat_rate.id }}</td>
                                    <td>{{ vat_rate.rateName }}</td>
                                    <td>{{ vat_rate.rateValue }}</td>
                                    <td>
                                        <a href="{{ path('app_vat_rate_edit', {'id': vat_rate.id}) }}"
                                           class="btn-primary btn btn-sm">{{ "Edytuj"|trans }}</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">{{ "Brak stawek VAT"|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer border-top pt-4">
                    <div class="col-xl-12">
                        <a href="{{ path('app_vat_rate_new') }}"
                           class="btn btn-success float-end btn-lg">{{ "Dodaj stawkę VAT "|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
