{% extends 'base.html.twig' %}

{% block title %}{{ "Magazyn"|trans }}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">
           <a href="{{ path('storage_index') }}">{{ "Magazyn"| trans }}</a>
        </span>
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-xl-12">
                            <form method="get" class="form">
                                <div class="row mb-4">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <label class="label inline">{{ "Nazwa"|trans }}</label>
                                            <input type="text" name="search" class="form-control"
                                                   value="{{ app.request.query.get('search') }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <a class="btn btn-danger"
                                               href="{{ url('storage_index') }}">{{ "Resetowanie wyników"|trans }}</a>
                                            <input type="submit" value="{{ "Szukaj "|trans }}"
                                                   class="btn btn-primary float-end">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mb-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ "Numer magazynowy"|trans }}</th>
                                <th>{{ "Nazwa"|trans }}</th>
                                <th>{{ "Ilość"|trans }}</th>
                                <th>{{ "Ilość alarmowa"|trans }}</th>
                                <th>{{ "Utworzony"|trans }}</th>
                                <th>{{ "Zmodyfikowany"|trans }}</th>
                                <th>{{ "Akcje"|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for storage in pagination %}
                                <tr>
                                    <td>{{ storage.id }}</td>
                                    <td>{{ storage.name }}</td>
                                    <td>{{ storage.qunatity }}</td>
                                    <td>{{ storage.alarmQuantity }}</td>
                                    <td>{{ storage.createdAt ? storage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ storage.updatedAt ? storage.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('storage_show', {'id': storage.id}) }}"
                                           class="btn-success btn btn-sm">{{ "Wyświetl"|trans }}</a>
                                        <a href="{{ path('storage_edit', {'id': storage.id}) }}"
                                           class="btn-primary btn btn-sm">{{ "Edytuj"|trans }}</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">{{ "Brak rzeczy w magazynie"|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer border-top pt-4">
                    <div class="col-xl-12">
                        <a href="{{ path('storage_new') }}"
                           class="btn btn-success float-end">{{ "Dodaj przedmiot"|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
