{% extends 'base.html.twig' %}

{% block title %}{{ "Przedmiot"|trans }}{% endblock %}

{% block body %}
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">
           <a href="{{ path('storage_index') }}">{{ "Magazyn"| trans }}</a> /</span> {{ storage.name }}</h4>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <table class="table table-striped ">
                            <tbody>
                            <tr>
                                <th>{{ "Numer magazynowy"|trans }}</th>
                                <td>{{ storage.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Nazwa"|trans }}</th>
                                <td>{{ storage.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Ilość"|trans }}</th>
                                <td>{{ storage.qunatity }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Ilość alarmowa"|trans }}</th>
                                <td>{{ storage.alarmQuantity }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Utworzony"|trans }}</th>
                                <td>{{ storage.createdAt ? storage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Zmodyfikowany" }}</th>
                                <td>{{ storage.updatedAt ? storage.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('storage_edit', {'id': storage.id}) }}"
                               class="btn btn-primary float-end">{{ "Edycja"|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-top">
                    <div class="col-xl-12">
                        <a href="{{ path('storage_index') }}"
                           class="btn btn-warning float-end">{{ "Powrót"|trans }}</a>
                        {{ include('storage/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
