{{ form_start(form) }}
<div class="form-group">
    <label class="col-form-label">
        {{ "Telefon"|trans }}
    </label>
    <div class="">
        {{ form_errors(form.telephone) }}
    </div>
    {{ form_widget(form.telephone, {'attr':{'class':'form-control'}}) }}
</div>
<div class="form-group">
    <label class="col-form-label">
        {{ "Adres email"|trans }}
    </label>
    <div class="">
        {{ form_errors(form.email) }}
    </div>
    {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
</div>
<div class="form-group">
    <button class="btn btn-primary btn-lg">{{ "Zapisz"|trans }}</button>
</div>
{{ form_end(form) }}