{% extends 'base.html.twig' %}

{% block title %}{{ "Klienci"|trans }}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>
        <div class="row">
            <div class="col-xl-6">
                {{ "Klienci"|trans }}
            </div>
            <div class="col-xl-6">
                <a href="{{ path('client_new') }}" class="btn btn-primary btn-lg">{{ "Dodaj klienta"|trans }}</a>
            </div>
        </div>
    </h1>

    <div class="row">
        <div class="col-xl-12">
            <form method="get" class="form">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group">
                            <label class="label inline">{{ "Email użytkownika lub numer telefonu"|trans }}</label>
                            <input type="text" name="search" class="form-control"
                                   value="{{ app.request.query.get('search') }}">
                        </div>
                    </div>
                    <div class="col-xl-12 text-right">
                        <div class="form-group">
                            <input type="submit" value="{{ "Szukaj "|trans }}" class="btn btn-primary">
                            <a class="btn btn-danger"
                               href="{{ url('client_index') }}">{{ "Resetowanie wyników"|trans }}</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ "Numer klienta"|trans }}</th>
            <th>{{ "Telefon"|trans }}</th>
            <th>{{ "Adres email"|trans }}</th>
            <th>{{ "Utworzony"|trans }}</th>
            <th>{{ "Zmodyfikowany"|trans }}</th>
            <th>{{ "Akcje"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for client in pagination %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}"
                       class="btn-outline-primary btn btn-sm">{{ "Wyświetl"|trans }}</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}"
                       class="btn-outline-secondary btn btn-sm">{{ "Edytuj"|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ "Brak klientów"|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-12">
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
