{% extends 'base.html.twig' %}

{% block title %}{{"Klient"|trans}}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{{"Klient"|trans}}</h1>

    <table class="table table-striped ">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>{{ "Telefon"|trans }}</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>{{ "Adres email"|trans }}</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>{{ "Utworzony"|trans }}</th>
                <td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ "Zmodyfikowany" }}</th>
                <td>{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-xl-3">
            <a href="{{ path('realised_service_show_by_client', {'id': client.id}) }}"
               class="btn-primary btn btn-lg btn">{{ "Usługi"|trans }}</a>
        </div>
        <div class="col-xl-3">
            <a href="{{ path('client_edit', {'id': client.id}) }}"
               class="btn-primary btn btn-lg btn">{{ "Edycja"|trans }}</a>
        </div>
        <div class="col-lg-6">
            {{ include('client/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 text-right">
            <a href="{{ path('client_index') }}"
               class="btn btn-lg btn-primary">{{ "Powrót"|trans }}</a>
        </div>
    </div>
{% endblock %}
