{% extends 'base.html.twig' %}

{% block title %}RealisedService index{% endblock %}

{% block body %}
    <h1>RealisedService index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realised_service in realised_services %}
            <tr>
                <td>{{ realised_service.id }}</td>
                <td>{{ realised_service.description }}</td>
                <td>{{ realised_service.createdAt ? realised_service.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ realised_service.updatedAt ? realised_service.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('realised_service_show', {'id': realised_service.id}) }}">show</a>
                    <a href="{{ path('realised_service_edit', {'id': realised_service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('realised_service_new') }}">Create new</a>
{% endblock %}
