{% extends 'base.html.twig' %}

{% block title %}{{"Usługa"|trans}}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{{"Usługa"|trans}}</h1>

    <table class="table table-striped ">
        <tbody>
            <tr>
                <th>{{ "Klient"|trans }}</th>
                <td>{{ realised_service.client }}</td>
            </tr>
            <tr>
                <th>{{ "Numer usługi"|trans }}</th>
                <td>{{ realised_service.id }}</td>
            </tr>
            <tr>
                <th>{{ "Opis"|trans }}</th>
                <td>{{ realised_service.description }}</td>
            </tr>
            <tr>
                <th>{{ "Utworzony"|trans }}</th>
                <td>{{ realised_service.createdAt ? realised_service.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ "Zmodyfikowany" }}</th>
                <td>{{ realised_service.updatedAt ? realised_service.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-xl-6">
            <a href="{{ path('realised_service_edit', {'id': realised_service.id}) }}"
               class="btn-primary btn btn-lg btn">{{ "Edycja"|trans }}</a>
        </div>
        <div class="col-lg-6">
            {{ include('realised_service/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 text-right">
            <a href="{{ path('realised_service_index') }}"
               class="btn btn-lg btn-primary">{{ "Powrót"|trans }}</a>
        </div>
    </div>
{% endblock %}
