{% extends 'base.html.twig' %}

{% block title %}{{"Usługi"|trans}}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{{"Usługi"|trans}}</h1>

    <table class="table table-striped">
        <tr class="table-info">
            <th colspan="6">{{"Usługi realizowane dla"|trans}} {{ client }}</th>
        </tr>
        <tr>
            <th>
                <div class="row mb-2">
                    <div class="col-lg-12 text-right">
                        {{ "Wszystkich"|trans }}
                        <div class="badge badge-primary">
                            {{ pagination.getTotalItemCount }}
                        </div>
                    </div>
                </div>
            </th>
        </tr>
            <tr>
                <th>{{ "Numer usługi"|trans }}</th>
                <th>{{ "Opis usługi"|trans }}</th>
                <th>{{ "Utworzony"|trans }}</th>
                <th>{{ "Zmodyfikowany"|trans }}</th>
                <th>{{ "Akcje"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for realised_service in pagination %}
            <tr>
                <td>{{ realised_service.id }}</td>
                <td>{{ realised_service.description }}</td>
                <td>{{ realised_service.createdAt ? realised_service.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ realised_service.updatedAt ? realised_service.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('realised_service_show', {'id': realised_service.id}) }}" class="btn-outline-primary btn btn-sm">{{ "Wyświetl"|trans }}</a>
                    <a href="{{ path('realised_service_edit', {'id': realised_service.id}) }}" class="btn-outline-secondary btn btn-sm">{{ "Edytuj"|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ "Brak usług"|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-12">
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

    <a href="{{ path('realised_service_new') }}"class=" btn btn-primary btn-lg">{{ "Dodaj usługę"|trans }}</a>
{% endblock %}
