{% extends 'base.html.twig' %}

{% block title %}RealisedService{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>RealisedService</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realised_service.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ realised_service.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ realised_service.createdAt ? realised_service.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ realised_service.updatedAt ? realised_service.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('realised_service_index') }}">back to list</a>

    <a href="{{ path('realised_service_edit', {'id': realised_service.id}) }}">edit</a>

    {{ include('realised_service/_delete_form.html.twig') }}
{% endblock %}
