<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="{{ path('index') }}" class="app-brand-link">
              <span class="app-brand-logo demo">
                    <i class='bx bxs-key'></i>
              </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Serwis</span>
        </a>

        <a href="javascript:void(0);"
           class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <li class="menu-item active">
            <a href="{{ path("dashboard") }}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">{{ "Ekran główny"|trans }}</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase"><span
                    class="menu-header-text">{{ "Serwis"| trans }}</span></li>

        <li class="menu-item">
            <a href="{{ path('client_index') }}" class="menu-link">
                <i class='bx bxs-user-detail mx-2'></i>
                <div>{{ "Klienci"| trans }}</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="{{ path('order_index') }}" class="menu-link">
                <i class='bx bxs-extension mx-2'></i>
                <div>{{ "Zlecenia"|trans }}</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="{{ path('storage_index') }}" class="menu-link">
                <i class='bx bxs-store-alt mx-2'></i>
                <div>{{ "Magazyn"| trans }}</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase"><span
                    class="menu-header-text">{{ "Administracja"| trans }}</span></li>
        <li class="menu-item">
            <a href="{{ path('app_vat_rate_index') }}" class="menu-link">
                <i class='bx bxs-bank mx-2'></i>
                <div>{{ "Stawki VAT"| trans }}</div>
            </a>
        </li>
    </ul>
</aside>