<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        {% if is_granted('ROLE_USER') %}
            <a href=" {{ path('dashboard') }}" class="app-brand-link">
              <span class="app-brand-logo demo">
                    <i class='bx bxs-key'></i>
              </span>
                <span class="app-brand-text demo menu-text fw-bolder ms-2">Serwis</span>
            </a>
        {% else %}
            <a href=" {{ path('app_index') }}" class="app-brand-link">
              <span class="app-brand-logo demo">
                    <i class='bx bxs-key'></i>
              </span>
                <span class="app-brand-text demo menu-text fw-bolder ms-2">Serwis</span>
            </a>
        {% endif %}
        <a href="javascript:void(0);"
           class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <li class="menu-item {% if app.current_route == 'dashboard' %} active {% endif %}">
            <a href="{{ path("dashboard") }}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">{{ "Ekran główny"|trans }}</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase"><span
                    class="menu-header-text">{{ "Serwis"| trans }}</span></li>

        <li class="menu-item {% if app.current_route == 'app_client_index' %} active {% endif %}">
            <a href="{{ path('app_client_index') }}" class="menu-link">
                <i class='bx bxs-user-detail mx-2'></i>
                <div>{{ "Klienci"| trans }}</div>
            </a>
        </li>
        <li class="menu-item {% if app.current_route == 'order_index' %} active {% endif %}">
            <a href="{{ path('order_index') }}" class="menu-link">
                <i class='bx bxs-extension mx-2'></i>
                <div>{{ "Zlecenia"|trans }}</div>
            </a>
        </li>
        <li class="menu-item {% if app.current_route == 'storage_index' %} active {% endif %}">
            <a href="{{ path('storage_index') }}" class="menu-link">
                <i class='bx bxs-store-alt mx-2'></i>
                <div>{{ "Magazyn"| trans }}</div>
            </a>
        </li>
        <li class="menu-item {% if app.current_route == 'task_index' %} active {% endif %}">
            <a href="{{ path('task_index') }}" class="menu-link">
                <i class='bx bx-task mx-2'></i>
                <div>{{ "Zadania"| trans }}</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">{{ "Administracja"| trans }}</span>
        </li>
        <li class="menu-item {% if app.current_route == 'app_vat_rate_index' %} active {% endif %}">
            <a href="{{ path('app_vat_rate_index') }}" class="menu-link">
                <i class='bx bxs-bank mx-2'></i>
                <div>{{ "Stawki VAT"| trans }}</div>
            </a>
        </li>
    </ul>
</aside>