{% extends 'base.html.twig' %}

{% block title %}{{ "Panel zarządzania"|trans }}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header mb-3">{{ "Wszystkie zrealizowane usługi"|trans }}</div>
                <div class="card-body">
                    <h2 class="card-title text-center text-primary mb-3">{{ allRealisedServices }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header mb-3">{{ "Usługi zrealizowane w tym miesiącu"|trans }}</div>
                <div class="card-body">
                    <h2 class="card-title text-center text-primary mb-3">{{ thisMonthRealisedServices|length }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header text-center mb-3">{{ "Zarejestrowani klienci"|trans }}</div>
                <div class="card-body">
                    <h2 class="card-title text-center text-primary mb-3">{{ numOfClients }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header text-center mb-3">{{ "Nowi klienci w tym miesiącu"|trans }}</div>
                <div class="card-body">
                    <h2 class="card-title text-center text-primary mb-3">{{ numOfNewClients|length }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header mb-3">{{ "Zrealizowane usługi"|trans }} {{ "now"|date('Y') }}</div>
                <div class="card-body">
                    <div id="yearNumOfServices"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header mb-3">{{ "Wartość usług"|trans }} {{ "now"|date('Y') }}</div>
                <div class="card-body">
                    <div id="yearValueOfServices"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_scripts %}
    {{ parent() }}
    <script>
        let numOfRealisedServicesBYMonth = {{ numOfRealisedServicesBYMonth|raw }};
        let valueOfRealisedServicesBYMonth = {{ valueOfRealisedServicesBYMonth|raw }};
        // Income Chart - Area chart
        // --------------------------------------------------------------------
        let cardColor, headingColor, axisColor, shadeColor, borderColor;
        let numOfRealisedServicesBYMonthData = [];
        let valueOfRealisedServicesBYMonthData = [];
        for (let i = 0; i < 12; i++) {
            numOfRealisedServicesBYMonthData.push(0);
            valueOfRealisedServicesBYMonthData.push(0);
        }
        // iterate over the data numOfRealisedServicesBYMonth its an array of objects {value: 1, month: 1} and fill the data
        for (let i = 0; i < numOfRealisedServicesBYMonth.length; i++) {
            numOfRealisedServicesBYMonthData[numOfRealisedServicesBYMonth[i].month - 1] = numOfRealisedServicesBYMonth[i].counter * 1;
        }
        // iterate over the data valueOfRealisedServicesBYMonth its an array of objects {value: 1, month: 1} and fill the data
        for (let i = 0; i < valueOfRealisedServicesBYMonth.length; i++) {
            valueOfRealisedServicesBYMonthData[valueOfRealisedServicesBYMonth[i].month - 1] = valueOfRealisedServicesBYMonth[i].counter * 1.0;
        }
        const incomeChartEl = document.querySelector('#yearNumOfServices'),
            incomeChartConfigValue = {
                series: [
                    {
                        data: numOfRealisedServicesBYMonthData
                    }
                ],
                chart: {
                    height: 215,
                    parentHeightOffset: 0,
                    parentWidthOffset: 0,
                    toolbar: {
                        show: true
                    },
                    type: 'area'
                },
                dataLabels: {
                    enabled: true
                },
                stroke: {
                    width: 2,
                    curve: 'smooth'
                },
                legend: {
                    show: false
                },
                markers: {
                    size: 6,
                    colors: 'transparent',
                    strokeColors: 'transparent',
                    strokeWidth: 4,
                    discrete: [
                        {
                            fillColor: config.colors.white,
                            seriesIndex: 0,
                            dataPointIndex: 7,
                            strokeColor: config.colors.primary,
                            strokeWidth: 2,
                            size: 6,
                            radius: 8
                        }
                    ],
                    hover: {
                        size: 7
                    }
                },
                colors: [config.colors.primary],
                fill: {
                    type: 'gradient',
                    gradient: {
                        shade: shadeColor,
                        shadeIntensity: 0.6,
                        opacityFrom: 0.5,
                        opacityTo: 0.25,
                        stops: [0, 95, 100]
                    }
                },
                grid: {
                    borderColor: borderColor,
                    strokeDashArray: 3,
                    padding: {
                        top: -20,
                        bottom: -8,
                        left: -10,
                        right: 8
                    }
                },
                xaxis: {
                    categories: ['{{ "Styczeń"|trans }}', '{{ "Luty"|trans }}', '{{ "Marzec"|trans }}', '{{ "Kwiecień"|trans }}', '{{ "Maj"|trans }}', '{{ "Czerwiec"|trans }}', '{{ "Lipiec"|trans }}', '{{ "Sierpień"|trans }}', '{{ "Wrzesień"|trans }}', '{{ "Paźdźiernik"|trans }}', '{{ "Listopad"|trans }}', '{{ "Grudzień"|trans }}', ''],
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    labels: {
                        show: true,
                        style: {
                            fontSize: '13px',
                            colors: axisColor
                        }
                    }
                },
                yaxis: {
                    labels: {
                        show: false
                    },
                    min: 0,
                    max: Math.max(...numOfRealisedServicesBYMonthData) + 5,
                    //tickAmount is the number of ticks to show on the y-axis max value of valueOfRealisedServicesBYMonthData array divided by 10 and rounded up
                    tickAmount: Math.ceil(Math.max(...numOfRealisedServicesBYMonthData) / 10)
                }
            };
        if (typeof incomeChartEl !== undefined && incomeChartEl !== null) {
            const incomeChart = new ApexCharts(incomeChartEl, incomeChartConfigValue);
            incomeChart.render();
        }

    </script>
    <script>
        // Income Chart - Area chart
        // --------------------------------------------------------------------
        const incomeChartElValue = document.querySelector('#yearValueOfServices'),
            incomeChartConfig = {
                series: [
                    {
                        data: valueOfRealisedServicesBYMonthData
                    }
                ],
                chart: {
                    height: 215,
                    parentHeightOffset: 0,
                    parentWidthOffset: 0,
                    toolbar: {
                        show: true
                    },
                    type: 'area'
                },
                dataLabels: {
                    enabled: true,
                    formatter: function (val, opt) {
                        return val + ' zł';
                    },
                },
                stroke: {
                    width: 2,
                    curve: 'smooth'
                },
                legend: {
                    show: false
                },
                markers: {
                    size: 6,
                    colors: 'transparent',
                    strokeColors: 'transparent',
                    strokeWidth: 4,
                    discrete: [
                        {
                            fillColor: config.colors.white,
                            seriesIndex: 0,
                            dataPointIndex: 7,
                            strokeColor: config.colors.primary,
                            strokeWidth: 2,
                            size: 6,
                            radius: 8
                        }
                    ],
                    hover: {
                        size: 7
                    }
                },
                colors: [config.colors.primary],
                fill: {
                    type: 'gradient',
                    gradient: {
                        shade: shadeColor,
                        shadeIntensity: 0.6,
                        opacityFrom: 0.5,
                        opacityTo: 0.25,
                        stops: [0, 95, 100]
                    }
                },
                grid: {
                    borderColor: borderColor,
                    strokeDashArray: 3,
                    padding: {
                        top: -20,
                        bottom: -8,
                        left: -10,
                        right: 8
                    }
                },
                xaxis: {
                    categories: ['{{ "Styczeń"|trans }}', '{{ "Luty"|trans }}', '{{ "Marzec"|trans }}', '{{ "Kwiecień"|trans }}', '{{ "Maj"|trans }}', '{{ "Czerwiec"|trans }}', '{{ "Lipiec"|trans }}', '{{ "Sierpień"|trans }}', '{{ "Wrzesień"|trans }}', '{{ "Paźdźiernik"|trans }}', '{{ "Listopad"|trans }}', '{{ "Grudzień"|trans }}', ''],
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    labels: {
                        show: true,
                        style: {
                            fontSize: '13px',
                            colors: axisColor
                        }
                    }
                },
                yaxis: {
                    labels: {
                        show: false
                    },
                    min: 0,
                    max: Math.max(...valueOfRealisedServicesBYMonthData) + 5,
                    tickAmount: Math.ceil(Math.max(...valueOfRealisedServicesBYMonthData) / 10)
                }
            };
        if (typeof incomeChartElValue !== undefined && incomeChartElValue !== null) {
            const incomeChartValue = new ApexCharts(incomeChartElValue, incomeChartConfig);
            incomeChartValue.render();
        }

    </script>
{% endblock %}