{% extends 'base.html.twig' %}

{% block title %}{{ "Panel zarządzania"|trans }}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{{ "Panel zarządzania"|trans }}</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header mb-3">{{ "Wszystkie zrealizowane usługi"|trans }}</div>
                <div class="card-body">
                    <h2 class="card-title text-center mb-3">{{ allRealisedServices }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">{{ "Usługi zrealizowane w tym miesiącu"|trans }}</div>
                <div class="card-body">
                    <h2 class="card-title text-center mb-3">{{ thisMonthRealisedServices|length }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header mb-3">{{ "Zarejestrowani klienci"|trans }}</div>
                <div class="card-body">
                    <h2 class="card-title text-center mb-3">{{ numOfClients }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header mb-3">{{ "Nowi klienci w tym miesiącu"|trans }}</div>
                <div class="card-body">
                    <h2 class="card-title text-center mb-3">{{ numOfNewClients|length }}</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
