{{ form_start(form) }}
<div class="form-group mb-4">
    <label class="col-form-label">
        {{ "Nazwa usługi"|trans }}
    </label>
    <div class="">
        {{ form_errors(form.name) }}
    </div>
    {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
</div>
<div class="form-group mb-4">
    <label class="col-form-label">
        {{ "Opis usługi"|trans }}
    </label>
    <div class="">
        {{ form_errors(form.description) }}
    </div>
    {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
</div>
<div class="form-group mb-4">
    <label class="col-form-label">
        {{ "Załączniki"|trans }}
    </label>
    <div class="">
        {{ form_errors(form.serviceAttachments) }}
    </div>
    {{ form_widget(form.serviceAttachments, {'attr':{'class':'form-control'}}) }}
</div>
<div class="form-group mb-4">
    <label class="col-form-label">
        {{ "Klient"|trans }}
    </label>
    <div class="">
        {{ form_errors(form.client) }}
    </div>
    {{ form_widget(form.client, {'attr':{'class':'form-control'}}) }}
</div>

<div class="form-group mb-4">
    <label class="col-form-label h2">
        {{ "Użyte części"|trans }}
    </label>
    <div class="row">
        {{ form_errors(form.usedParts) }}
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <span class="btn btn-success used-part-addition-button"
                          data-collection-holder-class="usedParts">{{ "Dodaj użytą część"|trans }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="usedParts"
                        data-index="{{ form.usedParts|length > 0 ? form.usedParts|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.usedParts.vars.prototype)|e('html_attr') }}"
                    ></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="btn btn-success used-part-addition-button"
                          data-collection-holder-class="usedParts">{{ "Dodaj użytą część"|trans }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="usedPartsContainer row">

    </div>
</div>

<div class="form-group mb-4">
    <button class="btn btn-primary float-end">{{ "Zapisz"|trans }}</button>
</div>
{{ form_end(form) }}