{% extends 'base.html.twig' %}

{% block title %}{{ "Edycja usługi"|trans }}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{{ "Edycja usługi"|trans }}</h1>

    <div class="row">
        <div class="col-xl-12">
            {{ include('order/_form.html.twig', {'button_label': 'Zapisz'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            {{ include('order/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 text-right">
            <a href="{{ path('order_index') }}"
               class="btn btn-lg btn-primary">{{ "Powrót"|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    <script src="{{ asset('default/js/realisedServiceForm.js') }}"></script>
{% endblock %}
