{% extends 'base.html.twig' %}

{% block title %}{{ "Usługi"|trans }}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">
           <a href="{{ path('client_index') }}">{{ "Zlecenia"| trans }}</a>
        </span>
    </h4
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-xl-12">
                            <form method="get" class="form">
                                <div class="row mb-4">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <label class="label inline">{{ "Email użytkownika lub numer telefonu"|trans }}</label>
                                            <input type="text" name="search" class="form-control"
                                                   value="{{ app.request.query.get('search') }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <a class="btn btn-danger btn-lg"
                                               href="{{ url('order_index') }}">{{ "Resetowanie wyników"|trans }}</a>
                                            <input type="submit" value="{{ "Szukaj "|trans }}"
                                                   class="btn btn-primary float-end">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mb-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ "Numer usługi"|trans }}</th>
                                <th>{{ "Opis usługi"|trans }}</th>
                                <th>{{ "Utworzony"|trans }}</th>
                                <th>{{ "Zmodyfikowany"|trans }}</th>
                                <th>{{ "Status"|trans }}</th>
                                <th>{{ "Akcje"|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in pagination %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.description }}</td>
                                    <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ order.status ? order.status : '' }}</td>
                                    <td>
                                        <a href="{{ path('order_show', {'id': order.id}) }}"
                                           class="btn-success btn btn-sm">{{ "Wyświetl"|trans }}</a>
                                        <a href="{{ path('order_edit', {'id': order.id}) }}"
                                           class="btn-primary btn btn-sm">{{ "Edytuj"|trans }}</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">{{ "Brak zleceń"|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer border-top pt-4">
                    <div class="col-xl-12">
                        <a href="{{ path('order_new') }}"
                           class="btn btn-success float-end">{{ "Dodaj zlecenie"|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
