{% extends 'base.html.twig' %}

{% block title %}{{ "Usługi"|trans }}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">
           <a href="{{ path('order_index') }}">{{ "Usługi"| trans }}</a> /</span> Numer {{ order.id }} dla
        klienta <a href="{{ path('client_show',{'id': order.client.id}) }}">
            {{ order.client }}
        </a>
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <p>
                            {{ "Link do podglądu statusu"|trans }}: <a
                                    href="{{ url('app_status_order', {'order': order.id}) }}">{{ url('app_status_order', {'order': order.id}) }}</a>
                        </p>
                    </div>
                    <div class="row mb-4">
                        <table class="table table-striped ">
                            <tbody>
                            <tr>
                                <th>{{ "Data przyjęcia do realizacji"|trans }}</th>
                                <td>{{ order.orderAcceptanceDate | date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Klient"|trans }}</th>
                                <td>{{ order.client }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Cena całkowita naprawy" }}</th>
                                <td>{{ (order.getTotalPrice()/ 100) | number_format(2) }}zł
                                </td>
                            </tr>
                            <tr>
                                <th>{{ "Numer usługi"|trans }}</th>
                                <td>{{ order.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Opis"|trans }}</th>
                                <td>{{ order.description }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Utworzony"|trans }}</th>
                                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Zmodyfikowany" }}</th>
                                <td>{{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Status"|trans }}</th>
                                <td>{{ order.status }}</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-12">
                            {% for attachment in order.serviceAttachments %}
                                <img class="img-thumbnail"
                                     src="{{ asset("uploads/service_attachment/") }}{{ attachment.getPath }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-12">
                            <table class="table table-bordered">
                                <thead class="table-info">
                                <tr>
                                    <td>
                                        {{ "Użyte części"|trans }}
                                    </td>
                                </tr>
                                </thead>
                                {% for usedPart in order.realisedServiceUsedItems %}
                                    <tr>
                                        <td>
                                            Nazwa: {{ usedPart.storage.name }} Ilość: {{ usedPart.quantity }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('order_edit', {'id': order.id}) }}"
                               class="btn-primary btn btn-lg btn float-end">{{ "Edycja"|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-top pt-4">
                    <div class="col-xl-12">
                        <a href="{{ path('order_index') }}"
                           class="btn btn-warning float-end btn-lg">{{ "Powrót"|trans }}</a>
                        {{ include('order/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
