{% extends 'base.html.twig' %}

{% block title %}{{ "Zadania"|trans }} / {{ "Modele"| trans }}{% endblock %}

{% block leftBody %}
    {% include '/shared/leftSidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">
           <a href="{{ path('app_model_index') }}">{{ "Modele"| trans }}</a> /</span> {{ "Edytuj" |trans }}
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {{ include('model/_form.html.twig') }}
                </div>
                <div class="card-footer border-top pt-4">
                    <div class="col-xl-12">
                        <a href="{{ path('app_model_index') }}" class="btn btn-warning float-end btn-lg">
                            {{ "Powrót"|trans }}
                        </a>
                        {{ include('model/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
